body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}
/* body{
    background-color: chartreuse;
} */
/* Bendra */
.container{
    display: inline-block;
    padding: 20px;
    min-width: 100%;
    min-height: 100vh;
    background-color: #94CB19;
}


/* Kompiuterio sfera */
    .computer{
        display: inline-block;
        /* float: left; */
        width: 100%;
        text-align: center;
        margin: 20px 0;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;
            color: #5F6600;

        }
        .computer #computer_choice{
            display: inline-block;
            background-color: #94CB19;
            border: 4px dotted #5F6600;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            margin: 10px 0;
        }


/* Vieno rezultato laimetojas */
    .win{
        display: inline-block;
        width: 100%;
        text-align: center;
        background-color: #FAC038;
        border-radius: 7px;
        padding: 5px;

    }
        h4{
            display: inline-block;
            line-height: 20px;


        }


/* Zaidejo sfera */
    .players{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 20px 0;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;
            color: #5F6600;
        }
        .players>#player_choice{
            display: inline-block;
            background-color: #94CB19;
            border: 4px dotted #5F6600;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            margin: 10px 0;
        }
        



/* Total rezultatai */
    .resultTotal{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        color: #4D2A0C;

    }
        .resultTotal>h4{
            display: inline-block;
            width: 100%;
        }
        .resultTotal> p{
            display: inline-block;
            width: 15%;
            float: left;
            font-size: 15px;
            line-height: 30px;
        }
        .resultTotal> p:nth-child(2) {
           margin-left: calc((100% - 30%) / 2);
          }

/*Buttons*/
        .btn{
            display: inline-block;
            width: calc(100% + 50px);
            text-align: center;
        }
            .button{
                display: inline-block;
                float: left;
                background-image: linear-gradient(to bottom right,#D5D5D5,#F6F6F6);
                margin: 0 25px 0 25px;
                padding: 10px 0;
                border-radius: 10px;
                box-shadow: 5px 5px 3px grey;
              

                width: calc((100% - 200px)/3);
            }
            .button>img{
                display: inline-block;
                width: 10%;
            }
            .button>p{
                display: inline-block;
                font-size: 15px;
                line-height: 30px;
                color: #997800;

            }
            /*************/
/*Lightboxes*/
/***********/
.lightboxes{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
    .lightboxes.show {
        display: inline-block;
    }
    .lightboxes > .background {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #000C;
        position: relative;
    }
    .lightboxes > .lightboxes-content {
        display: inline-block;
        width: calc(100%-10px);
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
    }
    .lightboxes > .lightboxes-content >h1{
        display: inline-block;
        position: absolute;
        width: 100%;
        color: white;
        top: 45%;
        left: 35%;
        border: none;
    }
    .lightboxes > .lightboxes-content > i{
        display: inline-block;
        position: absolute;
        color: white;
        padding: 10px;
        font-size: 20px;
        top: 10px;
        right: 10px; 
    }





