body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}
/* body{
    background-color: chartreuse;
} */
/* Bendra */
.container{
    display: inline-block;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}


/* Kompiuterio sfera */
    .computer{
        display: inline-block;
        /* float: left; */
        width: 100%;
        text-align: center;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;

        }
        .computer #computer_choice{
            display: inline-block;
            background-color: aliceblue;
            border: 4px dotted blue;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
        }


/* Vieno rezultato laimetojas */
    .win{
        display: inline-block;

    }
        h2{
            display: inline-block;

        }


/* Zaidejo sfera */
    .players{
        display: inline-block;
        width: 100%;
        text-align: center;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;
        }
        .players>#player_choice{
            display: inline-block;
            background-color: aliceblue;
            border: 4px dotted blue;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
        }
        



/* Total rezultatai */
    .resultTotal{
        display: inline-block;

    }
        h1{
            display: inline-block;

        }

/*Buttons*/
        .btn{
            display: inline-block;
        }
            .button{
                display: inline-block;
            }





