body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}
/* body{
    background-color: chartreuse;
} */
/* Bendra */
.container{
    display: inline-block;
    padding: 20px;
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
}


/* Kompiuterio sfera */
    .computer{
        display: inline-block;
        /* float: left; */
        width: 100%;
        text-align: center;
        margin: 20px 0;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;

        }
        .computer #computer_choice{
            display: inline-block;
            background-color: aliceblue;
            border: 4px dotted blue;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            margin: 10px 0;
        }


/* Vieno rezultato laimetojas */
    .win{
        display: inline-block;
        width: 100%;
        text-align: center;
        background-color: bisque;

    }
        h4{
            display: inline-block;
            line-height: 20px;


        }


/* Zaidejo sfera */
    .players{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 20px 0;

    }
        p{
            display: inline-block;
            width: 100%;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 40px;
        }
        .players>#player_choice{
            display: inline-block;
            background-color: aliceblue;
            border: 4px dotted blue;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            margin: 10px 0;
        }
        



/* Total rezultatai */
    .resultTotal{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

    }
        .resultTotal>h4{
            display: inline-block;
            width: 100%;
        }
        .resultTotal p{
            display: inline-block;
            width: 50%;
            float: left;
            font-size: 15px;
            line-height: 30px;
        }

/*Buttons*/
        .btn{
            display: inline-block;
            width: calc(100% + 50px);
            text-align: center;
        }
            .button{
                display: inline-block;
                float: left;
                background-color: violet;
                margin: 0 25px 0 25px;
                padding: 20px 0;
                font-size: 20px;
                line-height: 40px;

                width: calc((100% - 200px)/3);
            }





